{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main class="main">
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-lg-4-5">
                <section class="home-slider position-relative mb-30">
                    <div class="home-slide-cover mt-30">
                        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                            <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-1.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        {% trans "Don't miss amazing" %}<br /> {% trans "grocery deals" %}
                                    </h1>
                                    <p class="mb-65">{% trans "Sign up for the daily newsletter" %}</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="{% trans 'Your email address' %}" />
                                        <button class="btn" type="submit">{% trans "Subscribe" %}</button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-2.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        {% trans "Fresh Vegetables" %}<br /> {% trans "Big discount" %}
                                    </h1>
                                    <p class="mb-65">{% trans "Save up to 50% off on your first order" %}</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="{% trans 'Your email address' %}" />
                                        <button class="btn" type="submit">{% trans "Subscribe" %}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="slider-arrow hero-slider-1-arrow"></div>
                    </div>
                </section>
                <!--End hero-->

                <section class="product-tabs section-padding position-relative">
                  <div class="section-title style-2">
                    <h3>{% trans "Popular Products" %}</h3>
                    <ul class="nav nav-tabs links" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">{% trans "All" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">{% trans "Milks & Dairies" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">{% trans "Coffees & Teas" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-four" data-bs-toggle="tab" data-bs-target="#tab-four" type="button" role="tab" aria-controls="tab-four" aria-selected="false">{% trans "Pet Foods" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-five" data-bs-toggle="tab" data-bs-target="#tab-five" type="button" role="tab" aria-controls="tab-five" aria-selected="false">{% trans "Meats" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-six" data-bs-toggle="tab" data-bs-target="#tab-six" type="button" role="tab" aria-controls="tab-six" aria-selected="false">{% trans "Vegetables" %}</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-seven" data-bs-toggle="tab" data-bs-target="#tab-seven" type="button" role="tab" aria-controls="tab-seven" aria-selected="false">{% trans "Fruits" %}</button>
                      </li>
                    </ul>
                  </div>

                  <!-- Tab content -->
                  <div class="tab-content" id="myTabContent">
                    {% include "core/product_tab.html" with product=products tab_id="tab-one" active=True %}
                    {% include "core/product_tab.html" with product=products_milk tab_id="tab-two" active=False %}
                    {% include "core/product_tab.html" with product=products_tea tab_id="tab-three" active=False %}
                    {% include "core/product_tab.html" with product=products_pet tab_id="tab-four" active=False %}
                    {% include "core/product_tab.html" with product=products_meat tab_id="tab-five" active=False %}
                    {% include "core/product_tab.html" with product=products_veg tab_id="tab-six" active=False %}
                    {% include "core/product_tab.html" with product=products_fruit tab_id="tab-seven" active=False %}
                  </div>
                </section>
        </div>
    </div>
</main>
{% endblock content %}
